{{#if this}}
<div id="messages-tmp"> 
    <div style="text-align: center;"><button class="btn  btn-primary" type="button" 
            onclick="clean_main_container();static_TemplateHBS('new_msg','container');setTimeout(function(){$('#IdUser').val(CurrentSessionUser.IdUser).prop('readonly', true);},2000);$('#container').css({'margin-right': ''});">הודעה חדשה</button> 
        <br><br>
    </div>
    {{#each this}}                           
    <div class="well"> 
        <div class="row-fluid user-row">
            <div class="span1">
                <img 
                    src="img/ico/7.png"
                    alt="babysitter" style="width:100px;height: 100px;float: left;">
            </div>
            <div class="span10">
                <span class="text-muted">{{Title}}</span></br>
                <span class="text-muted">{{Content}}</span></br>
            </div>
            <div class="span1 dropdown-user" data-for=".{{IdMessage}}">
                <i class="icon-chevron-down text-muted"></i>
            </div>
        </div>
        <div class="row-fluid user-infos {{IdMessage}}">
            <div class="span10 offset1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{Title}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-fluid">
                            <div class="span6">
                                <strong>{{Name}}</strong><br>
                                <strong>{{Title}}</strong><br>
                                <table class="table table-condensed table-responsive table-user-information">
                                    <tbody>
                                        <tr style="display: none;">
                                            <td>IdUser:</td>
                                            <td>{{IdUser}}</td>
                                        </tr>
                                        <tr>
                                            <td>שם:</td>
                                            <td>{{Name}}</td>
                                        </tr>
                                        <tr>
                                            <td>טלפון:</td>
                                            <td><a href="tel://{{Phone}}">{{Phone}}</a></td>
                                        </tr>
                                        <tr style="display: none;">
                                            <td>IdMessage:</td>
                                            <td>{{IdMessage}}</td>
                                        </tr>
                                        <tr>
                                            <td>נושא:</td>
                                            <td>{{Title}}</td>
                                        </tr>
                                        <tr>
                                            <td>תוכן:</td>
                                            <td>{{Content}}</td>
                                        </tr>
                                        <tr>
                                            <td>תאור:</td>
                                            <td>{{Description}}</td>
                                        </tr>
                                        <tr>
                                            <td>פרטים/תמונה:</td>
                                            <td>{{base64 Details}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" {{isCurrentUser IdUser}}>
                        <button class="btn  btn-primary" type="button"
                            data-toggle="tooltip" onclick="dynamic_TemplateHBS('new_msg','container',{{IdMessage}});clean_main_container();setTimeout(function(){$('#email').prop('disabled', true);},1000);"
                            data-original-title="ערוך"><i class="icon-pencil icon-white"></i>&nbsp;&nbsp;&nbsp;ערוך</button> &nbsp;&nbsp;
                        <button class="btn  btn-warning" type="button"
                            data-toggle="tooltip" onclick="DELETE_msg({{IdMessage}},{{IdUser}});"
                            data-original-title="מחק"><i class="icon-remove-sign icon-white"></i>&nbsp;&nbsp;&nbsp;מחק</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<style>
    /*//Reusing bootstrap 3 panel CSS*/
    .panel {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
    }

    .panel-primary {
        border-color: #428BCA;
    }

    .panel-primary > .panel-heading {
        background-color: #428BCA;
        border-color: #428BCA;
        color: #FFFFFF;
    }

    .panel-heading {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 10px 15px;
    }

    .panel-title {
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .panel-body:before, .panel-body:after {
        content: " ";
        display: table;
    }

    .panel-body:before, .panel-body:after {
        content: " ";
        display: table;
    }

    .panel-body:after {
        clear: both;
    }

    .panel-body {
        padding: 15px;
    }

    .panel-footer {
        background-color: #F5F5F5;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top: 1px solid #DDDDDD;
        padding: 10px 15px;
    }

    /*//CSS from v3 snipp*/
    .user-row {
        margin-bottom: 14px;
    }

    .user-row:last-child {
        margin-bottom: 0;
    }

    .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
    }

    .dropdown-user:hover {
        cursor: pointer;
    }

    .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }

    .table-user-information > tbody > tr > td {
        border-top: 0;
    }
</style>

<script type="text/javascript">
    var panels = $('.user-infos');
    var panelsButton = $('.dropdown-user');
    panels.hide();

    //Click dropdown
    panelsButton.click(function () {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function () {
            //Completed slidetoggle
            if (idFor.is(':visible')) {
                currentButton.html('<i class="icon-chevron-up text-muted"></i>');
            } else {
                currentButton.html('<i class="icon-chevron-down text-muted"></i>');
            }
        })
    });

    var DELETE_msg = function(IdMessage,IdUser){
        if(CurrentSessionUser.Type==1 || CurrentSessionUser.IdUser==IdUser) {
            if(confirm("לא ניתן לאחזר מידע לאחר המחיקה")) 
                $.ajax({
                    type: "DELETE",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    url: "http://moshavit.somee.com/api/bulletinboard/"+IdMessage,
                    data: JSON.stringify({"IdMessage":IdMessage}),
                    success: function (data) {
                        // Do something....
                        if (Debug_mode) {console.log(IdMessage);}
                    },
                    error: function (xhr, errorType, thrownError) {
                        if (Debug_mode) {console.log(xhr);}
                        switch (xhr.status) {
                            case 404:
                                alert("404");
                                break;
                            case 400:
                                alert("לא ניתן למחוק הודעה זה");
                                $('#container').css("display", "block");
                                loading_it('hide');
                                break;
                            case 500:
                                alert("לא ניתן למחוק הודעה זה");
                                $('#container').css("display", "block");
                                loading_it('hide'); 
                                break;
                            case 200:
                                alert('הודעה נמחקה בהצלחה');
                                main_screen();
                                update_data("bulletinboard");
                                if (Debug_mode) {console.log(survey);}
                                break;
                        }
                    }
                })
        }
        else
            alert("אין באפשרותך למחוק הודעות,\nאנא פנה למנהל המערכת ");
    }


</script>
{{else}}
<div class="well">
    <div style="text-align: center;"><button class="btn  btn-primary" type="button" 
            onclick="clean_main_container();static_TemplateHBS('new_msg','container');setTimeout(function(){$('#IdUser').val(CurrentSessionUser.IdUser).prop('readonly', true);},2000);$('#container').css({'margin-right': ''});">הודעה חדשה</button> 
        <br><br>
    </div>
    <table id="UserTableList" class="users table table-hover tablesorter">
        <thead>
            <th>לא קיימות הודעות במערכת.</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
{{/if}}

<div class='scroll-to-top' style='display: block;'>    <img src='img/ico/arrow-up.png' alt='לראש העמוד'></div>
<script>
    $(function() {
        handleGoTop();
    });
</script>