<div class="well " id="Form">
    <input type="text" id="IdMessage" value="{{IdMessage}}" style="display:none;width: 1%;">
    <input type="text" id="IdUser" value="0" style="display:none;width: 1%;">

    <div class="input-prepend">
        <label for="Title">נושא</label>
        <input type="text" id="Title" value="{{Title}}" placeholder="הכנס את נושא" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend">
        <label for="Content">תוכן</label>
        <input type="text" id="Content" value="{{Content}}" placeholder="הכנס את תוכן" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend">
        <label for="Rate">מחיר לשעה</label>
        <input type="number" id="Rate" value="{{Rate}}" placeholder="מחיר" required="required" onkeyup="this.value=this.value.replace(/[^\d]/,'')" style="width: 100%;">
    </div>
    <div class="input-prepend date">
        <label for="StartDate">תאריך התחלה</label>
        <input type="date" id="StartDate" value="{{getDate StartTime}}" placeholder="תאריך התחלה" required="required" style="width: 100%;"> 
        <label for="StartTime">שעת התחלה</label>
        <input type="time" id="StartTime" value="{{getTime StartTime}}" placeholder="תאריך התחלה"  required="required" style="width: 100%;">
    </div>
    <div class="input-prepend date">
        <label for="EndDate">תאריך סיום</label>
        <input type="date" id="EndDate" value="{{getDate EndTime}}" placeholder="תאריך סיום" required="required" style="width: 100%;">
        <label for="EndTime">שעת סיום</label>
        <input type="time" id="EndTime" value="{{getTime EndTime}}" placeholder="תאריך סיום" required="required" style="width: 100%;">
    </div> 

    <button class="btn-large btn-block msg_func btn-success" onclick="babySitter_func(stringifyUserJSON());">שמור</button>
    <br>
    <button class="btn clear btn-warning" onclick="clear_form();"><i class="icon-remove icon-white"></i>נקה</button>
</div>

<script type="text/javascript"> 
    $("#Question").focus();
    var stringifyUserJSON = function () {
        tjson={
            "Title": $('#Title').val(),
            "Content": $('#Content').val(),
            "Rate": $('#Rate').val(),
            "StartTime": $('#StartDate').val()+" "+$('#StartTime').val(),
            "EndTime": $('#EndDate').val()+" "+$('#EndTime').val(),
            "IdUser": CurrentSessionUser.IdUser
        };
        if($('#IdMessage').val()>0) tjson["IdMessage"]=$('#IdMessage').val(); 
        return JSON.stringify(tjson)
    };
    var clear_form = function () {
        $('#Title').val('');
        $('#Content').val('');
        $('#Rate').val('');
        $('#StartDate').val('');
        $('#StartTime').val('00:00');
        $('#EndDate').val('');
        $('#EndTime').val('00:00');

        $("#Title").focus();
    };
    $('#Title').on('keyup', function(e) {
        if (e.which == 13) {
            babySitter_func(stringifyUserJSON());
        }
    });

    var babySitter_func = function (survey) {
        if($('#Title').val()==='' ||$('#Content').val()==='' || $('#Rate').val()==='' || $('#StartTime').val()==='' || $('#EndTime').val()==='' ) {
            try {alert_moshavit('לצורך השלמת התהליך יש להזין את כל הנתונים הנדרשים','הודעת מערכת','אישור');}catch(err){alert('לצורך השלמת התהליך יש להזין את כל הנתונים הנדרשים');}
            if($('#Title').val()==='')   
                $("#Title").focus();
            else
                if($('#Content').val()==='')   
                    $("#Content").focus();
                else
                    if($('#Rate').val()==='')   
                        $("#Rate").focus();
                    else
                        if($('#StartTime').val()==='') 
                            $("#StartTime").focus();
                        else
                            if($('#EndTime').val()==='')
                                $("#EndTime").focus();
        }
        else{
            var PP= (($('#IdMessage').val()!==0) & ($('#IdMessage').val()!=="")?'PUT':'POST');
            $('#Form').css("display", "none");
            loading_it('show'); 
            $.ajax({
                type: PP,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                url: base_url+"Babysitter",
                data: survey,
                success: function (data) {
                    // Do something....
                    if (Debug_mode) {console.log(survey);}
                },
                error: function (xhr, errorType, thrownError) {
                    if (Debug_mode) {console.log(xhr);}
                    switch (xhr.status) {
                        case 404:
                            try {alert_moshavit('404','הודעת מערכת','אישור');}catch(err){alert('404');}
                            break;
                        case 400:
                            try {alert_moshavit('חלק מהפרטים חסרים או לא תקינים','הודעת מערכת','אישור');}catch(err){alert('חלק מהפרטים חסרים או לא תקינים');}
                            $('#Form').css("display", "block");
                            loading_it('hide');
                            break;
                        case 500:
                            try {alert_moshavit('חלק מהפרטים חסרים או לא תקינים','הודעת מערכת','אישור');}catch(err){alert('חלק מהפרטים חסרים או לא תקינים');}
                            $('#Form').css("display", "block");
                            loading_it('hide'); 
                            break;
                        case 200:
                            if(PP==='PUT')
                                try {alert_moshavit('הבייביסיטר עודכן בהצלחה','הודעת מערכת','אישור');}catch(err){alert('הבייביסיטר עודכן בהצלחה');}
                            else
                                try {alert_moshavit('הבייביסיטר נוסף בהצלחה','הודעת מערכת','אישור');}catch(err){alert('הבייביסיטר נוסף בהצלחה');}
                            main_screen();
                            update_data("babysitter");
                            if (Debug_mode) {console.log(survey);}
                            break;
                    }
                }
            });
        }
    };  
</script>




























