
<div class="well " id="Form">

    <input type="text" id="IdSurvey" value="{{IdMessage}}" style="display:none;width: 1%;">
    <input type="text" id="IdUser" value="0" style="display:none;width: 1%;">

    <div class="input-prepend">
        <label for="Title">נושא</label>
        <input type="text" id="Title" value="{{Title}}" placeholder="הכנס את נושא" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend">
        <label for="Content">תוכן</label>
        <input type="text" id="Content" value="{{Content}}" placeholder="הכנס את תוכן" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend date">
        <label for="Rate">מחיר</label>
        <input type="number" id="Rate" value="{{Rate}}" placeholder="מחיר" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend date">
        <label for="StartTime">תאריך התחלה</label>
        <input type="date" id="StartTime" value="{{StartTime}}" placeholder="תאריך התחלה" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend date">
        <label for="EndTime">תאריך סיום</label>
        <input type="date" id="EndTime" value="{{EndTime}}" placeholder="תאריך סיום" required="required" style="width: 100%;">
    </div> 

    <button class="btn-large btn-block msg_func btn-success" onclick="babySitter_func(stringifyUserJSON());">שמור</button>
    <br>
    <button class="btn clear btn-warning" onclick="clear_form();"><i class="icon-remove icon-white"></i>נקה</button>
</div>

<script type="text/javascript">
    $("#Question").focus();
    var stringifyUserJSON = function () {
        tjson={
            "Title": $('#Title').val(),
            "Content": $('#Content').val(),
            "Rate": $('#Rate').val(),
            "StartTime": $('#StartTime').val(),
            "EndTime": $('#EndTime').val(),
            "IdUser": CurrentSessionUser.IdUser
        };
        if($('#IdMessage').val()>0) tjson["IdMessage"]=$('#IdMessage').val(); 
        return JSON.stringify(tjson)
    };
    var clear_form = function () {
        $('#Title').val('');
        $('#Content').val('');
        $('#Rate').val('');
        $('#StartTime').val('');
        $('#EndTime').val('');

        $("#Title").focus();
    };
    $('#Title').on('keyup', function(e) {
        if (e.which == 13) {
            babySitter_func(stringifyUserJSON());
        }
    });


    var babySitter_func = function (survey) {
        if($('#Title').val()==='' ||$('#Content').val()==='' || $$('#Rate').val()==='' || $('#StartTime').val()==='' || $('#EndTime').val()==='' ) {
            alert("לצורך השלמת התהליך יש להזין את כל הנתונים הנדרשים");
            if($('#Title').val()==='')   
                $("#Title").focus();
            else
                if($('#Content').val()==='')   
                    $("#Content").focus();
                else
                    if($('#Rate').val()==='')   
                        $("#Rate").focus();
                    else
                        if($('#StartTime').val()==='') 
                            $("#StartTime").focus();
                        else
                            if($('#EndTime').val()==='')
                                $("#EndTime").focus();
        }
        else{
            var PP= ($('#IdMessage').val()!=0?'PUT':'POST');
            $('#Form').css("display", "none");
            loading_it('show'); 
            $.ajax({
                type: PP,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                url: "http://moshavit.somee.com/api/Babysitter",
                data: survey,
                success: function (data) {
                    // Do something....
                    if (Debug_mode) {console.log(survey);}
                },
                error: function (xhr, errorType, thrownError) {
                    if (Debug_mode) {console.log(xhr);}
                    switch (xhr.status) {
                        case 404:
                            alert("404");
                            break;
                        case 400:
                            alert("חלק מהפרטים חסרים או לא תקינים");
                            $('#container').css("display", "block");
                            loading_it('hide');
                            break;
                        case 500:
                            alert("חלק מהפרטים חסרים או לא תקינים");
                            $('#container').css("display", "block");
                            loading_it('hide'); 
                            break;
                        case 200:
                            if(PP==='PUT')
                                alert("הבייביסיטר עודכן בהצלחה");
                            else
                                alert("הבייביסיטר נוסף בהצלחה");
                            main_screen();
                            update_data("survey");
                            if (Debug_mode) {console.log(survey);}
                            break;
                    }
                }
            });
        }
    };
</script>




























