<div class="well " id="Form">
    <input type="text" id="IdMessage" value="{{IdMessage}}" style="display:none;width: 1%;">
    <input type="text" id="IdUser" value="1" style="display:none;width: 1%;">
    <div class="input-prepend">
        <label for="Title">נושא</label>
        <input type="text" id="Title" value="{{Title}}" placeholder="הכנס נושא" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend">
        <label for="Content">תוכן</label>
        <input type="text" id="Content" value="{{Content}}" placeholder="הכנס תוכן" required="required" style="width: 100%;">
    </div>
    <div class="textarea-prepend">
        <label for="Image1">תמונה/פרטים 1</label>
        {{base64 Image1 "Image1"}}
        <input type="button" class="send-image1 hidden-desktop" value="מצלמה" />
        <input type="button" class="send-image1 hidden-desktop" value="מאלבום תמונות" />
        <img style="width:100px;height:100px;display: none;" class="hidden-desktop" id="image01" />
    </div>
    <div class="textarea-prepend">
        <label for="Image2">תמונה/פרטים 2</label>
        {{base64 Image2 "Image2"}}
        <input type="button" class="send-image2 hidden-desktop" value="מצלמה" />
        <input type="button" class="send-image2 hidden-desktop" value="מאלבום תמונות" />
        <img style="width:100px;height:100px;display: none;" class="hidden-desktop" id="image02" />
    </div>
    <div class="textarea-prepend">
        <label for="Image3">תמונה/פרטים 3</label>
        {{base64 Image3 "Image3"}}
        <input type="button" class="send-image3 hidden-desktop" value="מצלמה" />
        <input type="button" class="send-image3 hidden-desktop" value="מאלבום תמונות" />
        <img style="width:100px;height:100px;display: none;" class="hidden-desktop" id="image03" />
    </div>

    <button class="btn-large btn-block giveandtake_func btn-success" onclick="giveandtake_func(stringifyUserJSON());">שמור</button>
    <br>
    <button class="btn clear btn-warning" onclick="clear_form();"><i class="icon-remove icon-white"></i>נקה</button>
</div>
<script type="text/javascript">
    $("#Title").focus();
    var stringifyUserJSON = function () {
        var image1 =  $('#Image1').val();
        var image2 =  $('#Image2').val();
        var image3 =  $('#Image3').val();
        if($('#Image1').prop('tagName')==="IMG"){
            image1 = $('#Image1').prop('src').split("base64,");
            image1 = image1[1];
        }
        if($('#Image2').prop('tagName')==="IMG"){
            image2 = $('#Image2').prop('src').split("base64,");
            image2 = image2[1];
        }
        if($('#Image3').prop('tagName')==="IMG"){
            image3 = $('#Image2').prop('src').split("base64,");
            image3 = image3[1];
        }
        tjson={
            "Content": $('#Content').val(),
            "Image1": image1,
            "Image2": image2,
            "Image3": image3,
            "IdUser": $('#IdUser').val(),
            "Title": $('#Title').val()
        };
        if($('#IdMessage').val()>0) tjson["IdMessage"]=$('#IdMessage').val(); 
        return JSON.stringify(tjson)
    };
    var clear_form = function () {
        $('#Content').val('');
        $('#Title').val('');
        $('#Image1').val('');
        $('#Image2').val('');
        $('#Image3').val('');

        $("#Title").focus();
    };
    $('#Title').on('keyup', function(e) {
        if (e.which == 13) {
            giveandtake_func(stringifyUserJSON());
        }
    });
    $('#Content').on('keyup', function(e) {
        if (e.which == 13) {
            giveandtake_func(stringifyUserJSON());
        }
    });
    $('#Image1').on('keyup', function(e) {
        if (e.which == 13) {
            giveandtake_func(stringifyUserJSON());
        }
    });
    $('#Image2').on('keyup', function(e) {
        if (e.which == 13) {
            giveandtake_func(stringifyUserJSON());
        }
    });
    $('#Image3').on('keyup', function(e) {
        if (e.which == 13) {
            giveandtake_func(stringifyUserJSON());
        }
    });

    var giveandtake_func = function (giveandtake_func_details) {
        if($('#Content').val()==='' || $('#Title').val()==='' ) {
            try {alert_moshavit('לצורך השלמת התהליך יש להזין את כל הנתונים הנדרשים','הודעת מערכת','אישור');}catch(err){alert('לצורך השלמת התהליך יש להזין את כל הנתונים הנדרשים');}
            if($('#Title').val()==='')   
                $("#Title").focus();
            else
                if($('#Content').val()==='')
                    $("#Content").focus();
        }
        else{
            var PP= ($('#IdMessage').val()!=0?'PUT':'POST');
            $('#Form').css("display", "none");
            loading_it('show'); 
            $.ajax({
                type: PP,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                url: base_url+"giveandtake",
                data: giveandtake_func_details,
                success: function (data) {
                    // Do something....
                    if (Debug_mode) {console.log(giveandtake_func_details);}
                },
                error: function (xhr, errorType, thrownError) {
                    if (Debug_mode) {console.log(xhr);}
                    switch (xhr.status) {
                        case 404:
                            try {alert_moshavit('404','הודעת מערכת','אישור');}catch(err){alert('404');}
                            break;
                        case 400:
                            try {alert_moshavit('חלק מהפרטים חסרים או לא תקינים','הודעת מערכת','אישור');}catch(err){alert('חלק מהפרטים חסרים או לא תקינים');}
                            $('#container').css("display", "block");
                            loading_it('hide');
                            break;
                        case 500:
                            try {alert_moshavit('חלק מהפרטים חסרים או לא תקינים','הודעת מערכת','אישור');}catch(err){alert('חלק מהפרטים חסרים או לא תקינים');}
                            $('#container').css("display", "block");
                            loading_it('hide'); 
                            break;
                        case 200:
                            if(PP==='PUT')
                                try {alert_moshavit('ההודעה עודכנה בהצלחה','הודעת מערכת','אישור');}catch(err){alert('ההודעה עודכנה בהצלחה');}
                            else
                                try {alert_moshavit('ההודעה נוספה בהצלחה','הודעת מערכת','אישור');}catch(err){alert('ההודעה נוספה בהצלחה');}
                            main_screen();
                            update_data("giveandtake");
                            if (Debug_mode) {console.log(giveandtake_func_details);}
                            break;
                    }
                }
            });
        }
    };
    $(document).ready(function() {
        function sendImage1(src) {
            // Set the image source [library || camera]
            src = (src == 'מאלבום תמונות') ? Camera.PictureSourceType.PHOTOLIBRARY : Camera.PictureSourceType.CAMERA;
            // Aquire the image -> Phonegap API
            navigator.camera.getPicture(success, fail, {quality: 10, sourceType: src, allowEdit: true, destinationType: Camera.DestinationType.DATA_URL});
            // Successfully aquired image data -> base64 encoded string of the image file
            function success(imageData) {
                $('#Image1').val(imageData);
                $('#image01').attr('src', 'data:image/jpeg;base64,' + imageData);
                $('#image01').css("display", "block");
                $('#image01').removeClass("hidden-desktop");
            }
            function fail(message) { try {alert_moshavit('הייתה שגיאה בטעינת התמונה, אנא נסה שנית','הודעת מערכת','אישור');}catch(err){alert('הייתה שגיאה בטעינת התמונה, אנא נסה שנית');}}
        }
        function sendImage2(src) {
            // Set the image source [library || camera]
            src = (src == 'מאלבום תמונות') ? Camera.PictureSourceType.PHOTOLIBRARY : Camera.PictureSourceType.CAMERA;
            // Aquire the image -> Phonegap API
            navigator.camera.getPicture(success, fail, {quality: 10, sourceType: src, allowEdit: true, destinationType: Camera.DestinationType.DATA_URL});
            // Successfully aquired image data -> base64 encoded string of the image file
            function success(imageData) {
                $('#Image2').val(imageData);
                $('#image02').attr('src', 'data:image/jpeg;base64,' + imageData);
                $('#image02').css("display", "block");
                $('#image02').removeClass("hidden-desktop");
            }
            function fail(message) { try {alert_moshavit('הייתה שגיאה בטעינת התמונה, אנא נסה שנית','הודעת מערכת','אישור');}catch(err){alert('הייתה שגיאה בטעינת התמונה, אנא נסה שנית');}}
        }
        function sendImage3(src) {
            // Set the image source [library || camera]
            src = (src == 'מאלבום תמונות') ? Camera.PictureSourceType.PHOTOLIBRARY : Camera.PictureSourceType.CAMERA;
            // Aquire the image -> Phonegap API
            navigator.camera.getPicture(success, fail, {quality: 10, sourceType: src, allowEdit: true, destinationType: Camera.DestinationType.DATA_URL});
            // Successfully aquired image data -> base64 encoded string of the image file
            function success(imageData) {
                $('#Image3').val(imageData);
                $('#image03').attr('src', 'data:image/jpeg;base64,' + imageData);
                $('#image03').css("display", "block");
                $('#image03').removeClass("hidden-desktop");
            }
            function fail(message) { try {alert_moshavit('הייתה שגיאה בטעינת התמונה, אנא נסה שנית','הודעת מערכת','אישור');}catch(err){alert('הייתה שגיאה בטעינת התמונה, אנא נסה שנית');}}
        }
        $('.send-image1').click(function () { sendImage1($(this).val()); }); 
        $('.send-image2').click(function () { sendImage2($(this).val()); }); 
        $('.send-image3').click(function () { sendImage3($(this).val()); }); 
    });
</script>








        



















