<div class="well " id="Form">
    <input type="text" id="IdSurvey" value="{{IdSurvey}}" style="display:none;width: 1%;">
    <input type="text" id="IdUser" value="0" style="display:none;width: 1%;">
    <div class="input-prepend">
        <label for="Question">שאלת הסקר</label>
        <input type="text" id="Question" value="{{Question}}" placeholder="הכנס את שאלת הסקר" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend date">
        <label for="StartDate">תאריך התחלה</label>
        <input type="date" id="StartDate" value="{{getDate StartTime}}" placeholder="תאריך התחלה" required="required" style="width: 100%;"> 
        <label for="StartTime">שעת התחלה</label>
        <input type="time" id="StartTime" value="{{getTime StartTime}}" placeholder="תאריך התחלה"  required="required" style="width: 100%;">
    </div>
    <div class="input-prepend date">
        <label for="EndDate">תאריך סיום</label>
        <input type="date" id="EndDate" value="{{getDate EndTime}}" placeholder="תאריך סיום" required="required" style="width: 100%;">
        <label for="EndTime">שעת סיום</label>
        <input type="time" id="EndTime" value="{{getTime EndTime}}" placeholder="תאריך סיום" required="required" style="width: 100%;">
    </div> 
    <div class="input-prepend">
        <label for="TypeMember">סוגי משתמשים</label>
        <select id="TypeMember" required="required" style="width: 100%;">
            <option>תושב</option>
            <option>שוכר</option>
            <option>מנהל</option>
        </select>
    </div>
    <button class="btn-large btn-block msg_func btn-success" onclick="survey_func(stringifyUserJSON());">שמור</button>
    <br>
    <button class="btn clear btn-warning" onclick="clear_form();"><i class="icon-remove icon-white"></i>נקה</button>
</div>

<script type="text/javascript">
    $("#Question").focus();
    var stringifyUserJSON = function () {
        tjson={
            "Question": $('#Question').val(),
            "StartTime": $('#StartDate').val()+" "+$('#StartTime').val(),
            "EndTime": $('#EndDate').val()+" "+$('#EndTime').val(),
            "IdUser": CurrentSessionUser.IdUser,
            "TypeMember": ($('#TypeMember').val()==="מנהל"?1:$('#Type').val()==="תושב"?2:3)
        };
        if($('#IdSurvey').val()>0) tjson["IdSurvey"]=$('#IdSurvey').val(); 
        return JSON.stringify(tjson)
    };
    var clear_form = function () {
        $('#Question').val('');
        $('#StartDate').val('');
        $('#StartTime').val('00:00');
        $('#EndDate').val('');
        $('#EndTime').val('00:00');
        $('#Type').val('');

        $("#Question").focus();
    };
    $('#Question').on('keyup', function(e) {
        if (e.which == 13) {
            survey_func(stringifyUserJSON());
        }
    });

    var survey_func = function (survey) {
        if($('#Question').val()==='' || $('#StartTime').val()==='' || $('#EndTime').val()==='' || $('#Type').val()==='') {
            try {alert_moshavit('לצורך השלמת התהליך יש להזין את כל הנתונים הנדרשים','הודעת מערכת','אישור');}catch(err){alert('לצורך השלמת התהליך יש להזין את כל הנתונים הנדרשים');}
            if($('#Question').val()==='')   
                $("#Question").focus();
            else
                if($('#StartTime').val()==='') 
                    $("#StartTime").focus();
                else
                    if($('#EndTime').val()==='')
                        $("#EndTime").focus();
                    else
                        $("#Type").focus();
        }
        else{
            var PP= (($('#IdSurvey').val()!==0) & ($('#IdSurvey').val()!=="")?'PUT':'POST');
            $('#Form').css("display", "none");
            loading_it('show'); 
            $.ajax({
                type: PP,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                url: base_url+"Survey",
                data: survey,
                success: function (data) {
                    // Do something....
                    if (Debug_mode) {console.log(survey);}
                },
                error: function (xhr, errorType, thrownError) {
                    if (Debug_mode) {console.log(xhr);}
                    switch (xhr.status) {
                        case 404:
                            try {alert_moshavit('404','הודעת מערכת','אישור');}catch(err){alert('404');}
                            break;
                        case 400:
                            try {alert_moshavit('חלק מהפרטים חסרים או לא תקינים','הודעת מערכת','אישור');}catch(err){alert('חלק מהפרטים חסרים או לא תקינים');}
                            $('#container').css("display", "block");
                            loading_it('hide');
                            break;
                        case 500:
                            try {alert_moshavit('חלק מהפרטים חסרים או לא תקינים','הודעת מערכת','אישור');}catch(err){alert('חלק מהפרטים חסרים או לא תקינים');}
                            $('#container').css("display", "block");
                            loading_it('hide'); 
                            break;
                        case 200:
                            if(PP==='PUT')
                                try {alert_moshavit('הסקר עודכן בהצלחה','הודעת מערכת','אישור');}catch(err){alert('הסקר עודכן בהצלחה');}
                            else
                                try {alert_moshavit('הסקר נוסף בהצלחה','הודעת מערכת','אישור');}catch(err){alert('הסקר נוסף בהצלחה');}
                            main_screen();
                            update_data("survey");
                            if (Debug_mode) {console.log(survey);}
                            break;
                    }
                }
            });
        }
    };
</script>




























