<div class="well " id="Form">
    <input type="text" id="IdMessage" value="{{IdMessage}}" style="display:none;width: 1%;">
    <input type="text" id="IdUser" value="1" style="display:none;width: 1%;">
    <div class="input-prepend">
        <label for="Title">נושא</label>
        <input type="text" id="Title" value="{{Title}}" placeholder="הכנס נושא" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend">
        <label for="Description">תאור</label>
        <input type="text" id="Description" value="{{Description}}" placeholder="הכנס תאור" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend">
        <label for="Content">תוכן</label>
        <input type="text" id="Content" value="{{Content}}" placeholder="הכנס תוכן" required="required" style="width: 100%;">
    </div>
    <div class="textarea-prepend">
        <label for="Details">פרטים</label>
        <textarea id="Details" placeholder="הכנס פרטיי מודעה חדשה ..." required="required" style="width: 100%;height: 150px;">{{Details}}</textarea>
        <input type="button" class="send-image hidden-desktop" value="מצלמה" />
        <input type="button" class="send-image hidden-desktop" value="מאלבום תמונות" />
        <img style="width:100px;height:100px;display: none;" class="hidden-desktop" id="image" />
    </div>
    <button class="btn-large btn-block msg_func btn-success" onclick="msg_func(stringifyUserJSON());">שמור</button>
    <br>
    <button class="btn clear btn-warning" onclick="clear_form();"><i class="icon-remove icon-white"></i>נקה</button>
</div>

<script type="text/javascript">
    $("#Title").focus();
    var stringifyUserJSON = function () {
        tjson={
            "Description": $('#Description').val(),
            "Content": $('#Content').val(),
            "Details": $('#Details').val(),
            "IdUser": $('#IdUser').val(),
            "Title": $('#Title').val()
        };
        if($('#IdMessage').val()>0) tjson["IdMessage"]=$('#IdMessage').val(); 
        return JSON.stringify(tjson)
    };
    var clear_form = function () {
        $('#Description').val('');
        $('#Content').val('');
        $('#Title').val('');
        $('#Details').val('');

        $("#Title").focus();
    };
    $('#Title').on('keyup', function(e) {
        if (e.which == 13) {
            msg_func(stringifyUserJSON());
        }
    });
    $('#Description').on('keyup', function(e) {
        if (e.which == 13) {
            msg_func(stringifyUserJSON());
        }
    });
    $('#Content').on('keyup', function(e) {
        if (e.which == 13) {
            msg_func(stringifyUserJSON());
        }
    });
    $('#Details').on('keyup', function(e) {
        if (e.which == 13) {
            msg_func(stringifyUserJSON());
        }
    });

    var msg_func = function (msg_func_details) {
        if($('#Description').val()==='' || $('#Content').val()==='' || $('#Title').val()==='' || $('#Details').val()==='') {
            try {alert_moshavit('לצורך השלמת התהליך יש להזין את כל הנתונים הנדרשים','הודעת מערכת','אישור');}catch(err){alert('לצורך השלמת התהליך יש להזין את כל הנתונים הנדרשים');}
            if($('#Title').val()==='')   
                $("#Title").focus();
            else
                if($('#Description').val()==='') 
                    $("#Description").focus();
                else
                    if($('#Content').val()==='')
                        $("#Content").focus();
                    else
                        $("#Details").focus();
        }
        else{
            var PP= ($('#IdMessage').val()!=0?'PUT':'POST');
            $('#Form').css("display", "none");
            loading_it('show'); 
            $.ajax({
                type: PP,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                url: base_url+"bulletinboard",
                data: msg_func_details,
                success: function (data) {
                    // Do something....
                    if (Debug_mode) {console.log(msg_func_details);}
                },
                error: function (xhr, errorType, thrownError) {
                    if (Debug_mode) {console.log(xhr);}
                    switch (xhr.status) {
                        case 404:
                            try {alert_moshavit('404','הודעת מערכת','אישור');}catch(err){alert('404');}
                            break;
                        case 400:
                            try {alert_moshavit('חלק מהפרטים חסרים או לא תקינים','הודעת מערכת','אישור');}catch(err){alert('חלק מהפרטים חסרים או לא תקינים');}
                            $('#container').css("display", "block");
                            loading_it('hide');
                            break;
                        case 500:
                            try {alert_moshavit('חלק מהפרטים חסרים או לא תקינים','הודעת מערכת','אישור');}catch(err){alert('חלק מהפרטים חסרים או לא תקינים');}
                            $('#container').css("display", "block");
                            loading_it('hide'); 
                            break;
                        case 200:
                            if(PP==='PUT')
                                try {alert_moshavit('ההודעה עודכנה בהצלחה','הודעת מערכת','אישור');}catch(err){alert('ההודעה עודכנה בהצלחה');}
                            else
                                try {alert_moshavit('ההודעה נוספה בהצלחה','הודעת מערכת','אישור');}catch(err){alert('ההודעה נוספה בהצלחה');}
                            main_screen();
                            update_data("bulletinboard");
                            if (Debug_mode) {console.log(msg_func_details);}
                            break;
                    }
                }
            });
        }
    };
    $(document).ready(function() {
        function sendImage(src) {
            // Set the image source [library || camera]
            src = (src == 'מאלבום תמונות') ? Camera.PictureSourceType.PHOTOLIBRARY : Camera.PictureSourceType.CAMERA;
            // Aquire the image -> Phonegap API
            navigator.camera.getPicture(success, fail, {quality: 10, sourceType: src, allowEdit: true, destinationType: Camera.DestinationType.DATA_URL});
            // Successfully aquired image data -> base64 encoded string of the image file
            function success(imageData) {
                $('#Details').val(imageData);
                $('#image').attr('src', 'data:image/jpeg;base64,' + imageData);
                $('#Details').css("display", "none");
                $('#image').css("display", "block");
                $('#image').removeClass("hidden-desktop");
            }
            function fail(message) { try {alert_moshavit('הייתה שגיאה בטעינת התמונה, אנא נסה שנית','הודעת מערכת','אישור');}catch(err){alert('הייתה שגיאה בטעינת התמונה, אנא נסה שנית');}}
        }
        $('.send-image').click(function () { sendImage($(this).val()); }); 
    });
</script>




























