<br>
<div class="well " id="Form">

    <input type="text" id="IdUser" value="{{IdUser}}" style="display: none;">
    <!-- E-mail -->
    <div class="input-prepend">
        <label for="email">דוא"ל</label>
        <input type="email" id="email" value="{{Email}}" placeholder='הכנס דוא"ל' required="required" style="width: 100%;" maxlength="100">
    </div>
    <!-- First Name -->
    <div class="input-prepend">
        <label for="firstName">שם פרטי</label>
        <input type="text" id="firstName" value="{{FirstName}}" placeholder="הכנס שם פרטי" required="required" style="width: 100%;" maxlength="100">
    </div>
    <!-- Last Name -->
    <div class="input-prepend">
        <label for="lastName">שם משפחה</label>
        <input type="text" id="lastName" value="{{LastName}}" placeholder="הכנס שם משפחה" required="required" style="width: 100%;" maxlength="100">
    </div>
    <!-- Address -->
    <div class="input-prepend">
        <label for="address">כתובת</label>
        <input type="text" id="address" value="{{Address}}" placeholder="הכנס כתובת" required="required" style="width: 100%;" maxlength="100">
    </div>
    <!-- Phone -->
    <div class="input-prepend">
        <label for="phone">טלפון</label>
        <input type="text" id="phone" value="{{Phone}}" placeholder="הכנס טלפון" required="required" style="width: 100%;" onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="13">
    </div>
    <div class="input-prepend">
        <label for="password">סיסמה</label>
        <input id="password" type="password" class="password" placeholder="הכנס סיסמה" value="" required="required"  style="width: 100%;" onkeyup="if(this.value===''){$('#sec_pass').css('display', 'none');}else{$('#sec_pass').css('display', 'block');}" maxlength="16">
    </div>
    <div class="input-prepend" id="sec_pass" style="display: none;">
        <label for="passwordConfirm">סיסמה שנית</label>
        <input id="passwordConfirm" type="password" class="passwordConfirm" value="" required="required" style="width: 100%;" maxlength="16">
    </div> 
    <br>    <br> 
    {{#if IdUser}}
    <button class="btn-large btn-block register btn-success" onclick="update(stringifyUserJSON());">עדכן</button>
    <br> 
    {{else}}
    <button class="btn-large btn-block register btn-success" onclick="register(stringifyUserJSON());">שמור</button>
    <br>
    <button class="btn-large btn-block clear btn-warning" onclick="clear_form();"><i class="icon-remove icon-white"></i>נקה</button>
    {{/if}}
</div>

<script type="text/javascript">
    $("#email").focus();
    var stringifyUserJSON = function () {
        tjson={
            FirstName: $('#firstName').val(),
            LastName: $('#lastName').val(),
            Email: $('#email').val(),
            Address: $('#address').val(),
            Phone: $('#phone').val()
        };
        if($('#IdUser').val()>0) tjson["IdUser"]=$('#IdUser').val(); 
        if($('#password').val()!=="") tjson["Password"]=$('#password').val();
        if($('#Type').val()!=="") tjson["Type"]=($('#Type').val()==="מנהל"?1:$('#Type').val()==="תושב"?2:3);
        return JSON.stringify(tjson)
    };
    var clear_form = function () {

        $('#firstName').val('');
        $('#lastName').val('');
        $('#email').val('');
        $('#address').val('');
        $('#phone').val('');
        $('#email').val('');
        $('#password').val('');
        $("#email").focus();
    };

    var register = function (register_details) {  
        if($('#firstName').val()==='' || 
            $('#lastName').val()==='' || 
            $('#email').val()==='' ||
            $('#address').val()==='' ||
            $('#phone').val()==='' ||
            $('#email').val()==='' ||
            $('#password').val()===''){
            $("#email").focus();
            alert('חסרים פרטים לצורכי רישום');
        }
        else{
            if(!validateEmail($('#email').val())){
                $("#email").focus();
                alert('כתובת הדוא"ל לא תקינה');
            }
            else{
                if($('#password').val()!==$('#passwordConfirm').val()){
                    $("#password").focus();
                    $('#password').val('');
                    $('#passwordConfirm').val('');
                    alert('סיסמאות לא תואמות');
                }  
                else{
                    $('#Form').css("display", "none");
                    loading_it('show');  
                    if( $('#IdUser').val()==='') PP="POST"; else PP="PUT";
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        url: register_api,
                        data: register_details,
                        success: function (data) {
                            if (Debug_mode) {console.log(register_details);}
                        },
                        error: function (xhr, errorType, thrownError) {
                            if (Debug_mode) {console.log(xhr);}
                            switch (xhr.status) {
                                case 404:
                                    alert("404");
                                    break;
                                case 400:
                                    alert(xhr.responseText);
                                    break;
                                case 500:
                                    alert("חלק מהפרטים חסרים או לא תקינים"); 
                                    break;
                                case 200:
                                    alert("הרישום בוצע בהצלחה,\nהנך מועבר למערכת");
                                    if (Debug_mode) {console.log(register_details);}
                                    CurrentSessionUser = JSON.parse(register_details);
                                    $.post("http://moshavit.somee.com/api/login", {Email:CurrentSessionUser.Email,Password:CurrentSessionUser.Password}, function(data) {CurrentSessionUser=data});
                                    clean_body();
                                    add_containers_to_body();
                                    static_TemplateHBS('desktop_menu', 'container-head');
                                    static_TemplateHBS("phone_menu", 'container');
                                    update_data("users");
                                    setTimeout(function(){$('#sessionUsername').text('שלום '+CurrentSessionUser.FirstNmae+" "+CurrentSessionUser.LastName)},3000);
                                    break;
                            }
                        }
                    });
                }   
            }
        }
    };

    var update = function (register_details) {  
        if($('#firstName').val()==='' || 
            $('#lastName').val()==='' || 
            $('#email').val()==='' ||
            $('#address').val()==='' ||
            $('#phone').val()==='' ||
            $('#email').val()==='' ){
            $("#email").focus();
            alert('חסרים פרטים לצורכי עדכון');
        }
        else{
            if(!validateEmail($('#email').val())){
                $("#email").focus();
                alert('כתובת הדוא"ל לא תקינה');
            }
            else{
                if($('#password').val()!==$('#passwordConfirm').val()){
                    $("#password").focus();
                    $('#password').val('');
                    $('#passwordConfirm').val('');
                    alert('סיסמאות לא תואמות');
                }  
                else{
                    url="http://moshavit.somee.com/api/user";
                    $('#Form').css("display", "none");
                    loading_it('show');
                    $.ajax({
                        type: "PUT",
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        url: url,
                        data: register_details,
                        success: function (data) {
                            if (Debug_mode) {console.log(register_details);}
                            alert("הפרטים עודכנו במערכת");
                            update_data("users");
                            main_screen();
                        },
                        error: function (xhr, errorType, thrownError) {
                            if (Debug_mode) {console.log(xhr);}
                            switch (xhr.status) {
                                case 404:
                                    alert("404");
                                    break;
                                case 400:
                                    alert(xhr.responseText);
                                    break;
                                case 500:
                                    alert("חלק מהפרטים חסרים או לא תקינים"); 
                                    break;
                                case 200:
                                    alert("הפרטים עודכנו במערכת");
                                    if (Debug_mode) {console.log(register_details);}
                                    update_data("users");
                                    break;
                            }
                        }
                    });
                }   
            }
        }
    };
    $(document).ready(function() {
        if(CurrentSessionUser.Type===1){
            $('#Form').prepend('<div class="input-prepend"><label for="Type">סוגי משתמשים</label><select id="Type" required="required" style="width: 100%;"><option>{{memberType Type}}</option><option>מנהל</option><option>תושב</option><option>שוכר</option></select></div>');
        }
    });

</script>



