{{#if this}}
<div style="text-align: center;{{isAdmin IdUser}}"><button class="btn  btn-primary" type="button" 
        style="{{isAdmin IdUser}}" onclick="clean_main_container();static_TemplateHBS('register','container');setTimeout(function(){$('#IdUser').val(CurrentSessionUser.IdUser).prop('readonly', true);},2000);$('#container').css({'margin-right': ''});">משתמש חדש</button> 
    <br><br>
</div>    
{{#each this}}
<div class="well">
    <div class="row-fluid user-row">

        <div class="span1">
            <img 
                src="img/ico/Android-userProfile-48.png"
                alt="user" style="width:100px;height: 100px;float: left;">
        </div>
        <div class="span10">
            <strong>שם: {{FirstName}} {{LastName}}</strong><br>
            <span class="text-muted">דוא"ל: {{Email}}</span> <br>
            <span class="text-muted">טלפון: <a href="tel://{{Phone}}">{{Phone}}</a></span>
        </div>
        <div class="span1 dropdown-user" data-for=".{{IdUser}}">   
            <i class="icon-chevron-down text-muted"></i>
        </div>
    </div>
    <div class="row-fluid user-infos {{IdUser}}">
        <div class="span10 offset1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="panel-title">פרטיי משתמש</h5>
                </div>
                <div class="panel-body">
                    <div class="row-fluid">
                        <div class="span6">
                            <strong>{{FirstName}} {{LastName}}</strong><br>
                            <table class="table table-condensed table-responsive table-user-information">
                                <tbody>
                                    <tr>
                                        <td>שם פרטי:</td>
                                        <td>{{FirstName}}</td>
                                    </tr>
                                    <tr>
                                        <td>שם משפחה:</td>
                                        <td>{{LastName}}</td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>דוא"ל:</td>
                                        <td>{{Email}}</td>
                                    </tr>
                                    <tr>
                                        <td>התחלת שימוש:</td>
                                        <td>{{fixDate StartTime}}</td>
                                    </tr>
                                    <tr>
                                        <td>כתובת</td>
                                        <td>{{Address}}</td>
                                    </tr>
                                    <tr>
                                        <td>טלפון</td>
                                        <td><a href="tel://{{Phone}}">{{Phone}}</a></td>
                                    </tr> 
                                    <tr>
                                        <td>סוג משתמש</td>
                                        <td>{{memberType Type}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" {{isCurrentUser IdUser}}>
                    <button class="btn  btn-primary" type="button"
                        data-toggle="tooltip" onclick="dynamic_TemplateHBS('register','container',{{IdUser}});clean_main_container();setTimeout(function(){$('#email').prop('disabled', true);},1000);"
                        data-original-title="ערוך"><i class="icon-pencil icon-white"></i>&nbsp;&nbsp;&nbsp;ערוך</button> &nbsp;&nbsp;
                    <button class="btn  btn-warning" type="button"
                        data-toggle="tooltip" onclick="DELETE_user({{IdUser}});"
                        data-original-title="מחק"><i class="icon-remove-sign icon-white"></i>&nbsp;&nbsp;&nbsp;מחק</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
<script type="text/javascript">
    var panels = $('.user-infos');
    var panelsButton = $('.dropdown-user');
    panels.hide();

    //Click dropdown
    panelsButton.click(function () {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function () {
            //Completed slidetoggle
            if (idFor.is(':visible')) {
                currentButton.html('<i class="icon-chevron-up text-muted"></i>');
            } else {
                currentButton.html('<i class="icon-chevron-down text-muted"></i>');
            }
        })
    });

    var DELETE_user = function(IdUser){
        if(CurrentSessionUser.Type===1 || CurrentSessionUser.IdUser==IdUser) {
            if(confirm("לא ניתן לאחזר מידע לאחר המחיקה")) 
                $.ajax({
                    type: "DELETE",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    url: base_url+"user/"+IdUser,
                    data: JSON.stringify({"IdUser":IdUser}),
                    success: function (data) {
                        // Do something....
                        if (Debug_mode) {console.log(IdUser);}
                    },
                    error: function (xhr, errorType, thrownError) {
                        if (Debug_mode) {console.log(xhr);}
                        switch (xhr.status) {
                            case 404:
                                try {alert_moshavit('404','הודעת מערכת','אישור');}catch(err){alert('404');}
                                break;
                            case 400:
                                try {alert_moshavit('לא ניתן למחוק משתמש זה','הודעת מערכת','אישור');}catch(err){alert('לא ניתן למחוק משתמש זה');}
                                $('#container').css("display", "block");
                                loading_it('hide');
                                break;
                            case 500:
                                try {alert_moshavit('לא ניתן למחוק משתמש זה','הודעת מערכת','אישור');}catch(err){alert('לא ניתן למחוק משתמש זה');}
                                $('#container').css("display", "block");
                                loading_it('hide'); 
                                break;
                            case 200:
                                try {alert_moshavit('המשתמש נמחק בהצלחה','הודעת מערכת','אישור');}catch(err){alert('המשתמש נמחק בהצלחה');}
                                main_screen();
                                update_data("users");
                                if (Debug_mode) {console.log(survey);}
                                break;
                        }
                    }
                })
        }
        else
            try {alert_moshavit('אין באפשרותך למחוק משתמשים,\nאנא פנה למנהל המערכת','הודעת מערכת','אישור');}catch(err){alert('אין באפשרותך למחוק משתמשים,\nאנא פנה למנהל המערכת');}
    }
</script> 
{{else}}
<div class="well" id="users-tmp">
    <div style="text-align: center;{{isAdmin IdUser}}"><button class="btn  btn-primary" type="button" 
            style="{{isAdmin IdUser}}" onclick="clean_main_container();static_TemplateHBS('register','container');setTimeout(function(){$('#IdUser').val(CurrentSessionUser.IdUser).prop('readonly', true);},2000);$('#container').css({'margin-right': ''});">משתמש חדש</button> 
        <br><br>
    </div>
    <table id="UserTableList" class="users table table-hover tablesorter">
        <thead>
            <th>לא קיימים משתמשים</th>
        </thead>
        <tbody></tbody>
    </table>
</div> 
{{/if}}
<div class='scroll-to-top' style='display: block;'>    <img src='img/ico/arrow-up.png' alt='לראש העמוד'></div>
<script>
    $(function() {
        handleGoTop();
    });
</script>