<div class="container-fluid well">
        <div class="span2">
            <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=150" class="img-circle">
        </div>

        <div class="span8">
            <h3 >שם: {{FirstName}} {{LastName}}</h3>
            <h6>דוא"ל: {{Email}}</h6>
            <h6>התחלת שימוש: {{StartTime}}</h6>
            <h6>כתובת: {{Address}}</h6>
            <h6>טלפון: {{Phone}}</h6>
        </div>

        <div class="span2">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Action
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="icon-wrench"></span> ערוך</a></li>
                    <li><a href="#"><span class="icon-trash"></span> מחק</a></li>
                </ul>
            </div>
        </div>
</div>